::-webkit-scrollbar {
  width: 0.35714285714285715vw;
  height: 0.010559662090813094vh;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  outline: 0.11904761904761904vw;
  height: min-content;
  outline-style: solid;
  outline-color: black;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #ffdb01;
  outline-style: solid;
  outline-color: black;
  border-right: #000000 0.11904761904761904vw solid;
}

::-webkit-scrollbar-track:hover {
  background: #ffdb01;
}

::-webkit-scrollbar-track:active {
  background: #ffdb01;
}

::-webkit-scrollbar-corner {
  background: transparent;
}