@import url(layout.css);
@import url(scrollbar.css);
@import url(clock.css);
@font-face {
    font-family: custom;
    src: url(../media/font.ttf);
}

body {
    background-color: #ffdb01;
    overflow: hidden;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.Bookmarks > div > ul {
    direction: ltr;
    line-height: 2vw;
    z-index: 1;
}

.area-fill {
    height: 100%;
    width: 100%;
    z-index: 4;
    margin-top: 0.5vh;
}

#scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
    height: 90.5vh;
}

.Bookmarks > div > ul > li {
    list-style-type: none;
    font-size: 2vw; 
    font-family: custom;
    color: black;
    text-align: left;
    padding-left: 1vw;
    line-height: 3.1vh;
}

.Bookmarks > div > ul > li > a {
    text-decoration: none;
    color: black;
}

.Bookmarks > div > ul > li > a:hover {
    font-size: 95%;
}


.WIDGETS > div {
    display: flex;
    flex-direction: row;
}

.NEWS {
    z-index: 2;
} 

.NEWS > span > h2 {
    position: inherit;
    top: -3.3vh;
    left: 5vh;
    font-family: custom;
    font-size: 3.4vh;
    letter-spacing: 0.47619047619047616vw;
    z-index: 1;
    }

.news-text {
    display: inline-block;
    position: relative;
    animation: marquee 25s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-120%);
    }
  }

.title {
    height: 5.6vh;

    width: 100%;
    position: relative;
    top: 0;
    left: 0;

    background-color: black;
    z-index: 0;
}

.title > h1 {
    color: #ffdb01;
    font-size: 3vw;
    margin: 0;
    padding: 0;
    font-family: helvetica, bold;
    position: relative;
    line-height: 100%;
    top: -0.3vh;
    left: 0.3vw;
    letter-spacing: -0.02em;
    direction: ltr;
}

#left-align-text {
    position: relative;
    text-align: right;
    margin-right: 0.7vw;
}

.BORED > .bored-content {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1vh;
    left: 1vw;
  }
  
  .BORED > .bored-content > h1, .BORED > .bored-content > div > h2 {
    font-family: custom;
    z-index:2;
    margin: 0;
  }
  
  .BORED > .bored-content > h1 {
    font-size: 3.4vh;
    letter-spacing: 0.47619047619047616vw;
  }
  
  .BORED > .bored-content > div {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 1vh;
    justify-content: center;
  }
  
  .BORED > .bored-content > div > h2 {
    font-size: 2.8vh;
  }

